#about {
  width: 100%;
}
.about {
  width: 85%;
  margin: 0 auto;
  padding: 3rem;
  height: auto;
}

.header {
  font-size: 3rem;
  text-align: center;
  text-shadow: 0.5rem 0.5rem 0.6rem rgba(0, 0, 0, 0.5);
}

.header-bar {
  width: 5rem;
  height: 7px;
  text-align: center;
  background-color: rgb(179, 120, 55);
  margin: 0 auto;
}

.header.active {
  animation: slideFromLeft 1s ease-out;
}
.features-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem 4rem;
  margin-top: 4rem;
  justify-content: center;
}
.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.introduction-img {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}
.introduction-img img {
  width: 60%;
  border-radius: 50%;
  border: 4px solid #b32f1b;
}
.introduction-info {
  width: 60%;
  margin: 2rem auto 2rem auto;
}
.introduction-text {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 400;
}
.skills {
  padding-top: 6rem;
  width: 100%;
}
@keyframes slideFromLeft {
  0% {
    transform: translateX(-400px);
  }
  50% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 1200px) {
  .features-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .features-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .details {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .features-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
